*::after,
*::before,
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  all: inherit;
  font-family: "Ibarra Real Nova";
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  color: #33323d;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0 15px;
}

ol {
  list-style: none;
}
p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #33323d;
}
