$dark-cyan: #5fb4a2;
$dark-grey: #203a4c;
$grayish-dark: #33323d;
$very-light-grey: #fefcf7;
$red: #f43030;
$public: "Public Sans";
$ibarra: "Ibarra Real Nova";
$cyan: #5fb4a2;
$darkBlue: #203a4c;
$brown: #33323d;
$almastWhite: #d7d7d7;
$lightGrey: #eaeaeb;
